.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  margin-top: 40px;
  background-color: #404040;
  position: fixed;
  top: -2.5rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background-color: rebeccapurple;
}

.social-item {
  display: block;
  width: 32px;
  height: 32px;
}
.social-item img {
  display: block;
  width: 32px;
  height: 32px;
}

.site-title {
  color: #01e1f7;
}
