.about-section {
  margin-top: 40px;
}

.main-content {
  display: grid;
  grid-template-columns: 600px 1fr;
  background-color: #545454;
}
.profile-section{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center ;
  justify-items: center;
  gap: 1rem;
}
.profile-name {
  font-size: .9rem;
  font-weight: 500;
  color: white;
}
.profile-img{
  border-radius: 50%;
}
