.about-section {
  margin-top: 40;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #545454;
  padding: 40px;
}
.profile-section {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}
.profile-name {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}
.profile-img {
  border-radius: 50%;
  max-width: 410px;
  border: 5px solid white;
  box-shadow: 0 0 0 8px rgba(152, 255, 152, 1);
}

.about-description {
  line-height: 1.4;
  font-size: 1.1rem;
}

@media (max-width: 990px) {
  .main-content {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .about-section {
    order: 2;
  }
}
@media (max-width: 479px) {
  .profile-img {
    max-width: 300px;
  }
}
@media (max-width: 300px) {
  .profile-img {
    max-width: 200px;
  }
}
